.form {
  height: 17rem;
  margin: 1rem 0;
  overflow: auto;
}

.control {
  margin-bottom: .5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: .25rem;
  display: block;
}

.control input {
  width: 20rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font: inherit;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  padding: .5rem 2rem;
  color: #5a1a01;
  border: none;
  border-radius: 25px;
  font: inherit;
  cursor: pointer;
  background-color: transparent;
}

.actions button:hover,
.actions button:focus,
.actions button:active {
  background-color: #ffe6dc;
}

.actions .submit {
  color: white;
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
}

.actions .submit:hover,
.actions .submit:focus,
.actions .submit:active {
  background-color: #7a2706;
}

.invalid label {
  color: #ca3e51;
}

.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}
